langchain
langchain-openai
langchain_experimental
langchain_community
docarray
pydantic==1.10.8
python-dotenv
ruff
bs4
ipytest
playwright
unstructured
openai 
langchain[docarray]
pytube 
tiktoken 
pinecone-client 
scikit-learn
giskard[llm]